# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VS Code
.vscode/

# Environment variables
.env

# Project data
data/
src/archive/
src/Archive/
src/WIP*


# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
*.ipynb
.ipynb_checkpoints/
jupyter/


# Front end
/frontend
!/frontend/
/frontend/*
!/frontend/images/
/frontend/images/*
!/frontend/images/product-screens/
!/frontend/images/product-screens/*.png
!/frontend/images/product-screens/*.svg

# Local historical and working material that is not published to GitHub
/archive/
