# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VS Code
.vscode/

# Environment variables
.env

# Project data
data/raw/
data/parsed/
data/processed/
data/
src/archive/


# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
*.ipynb
.ipynb_checkpoints/
jupyter/
